fieldset, #js-label {

  border-style: none;
}

header {
  text-align: center;
  font-size: 100px;
  color: red;
}

nav ul li {
  list-style: none;
  font-size: 25px;
  }

#contact {
  margin-left: 2em; 
  }

#navigation {
  background-color: rgba(60, 179, 113, 0);


}


.pop-up, .hidden {
  display: none;
}

img {
  max-width: 100%;

}

.card, .js-input {
  text-align: center;
}

.activator {
  max-width: 100%;
}

body {
  background-image: url(images/food.jpg);
  background-attachment: fixed;

}

.card:not(:hover) {
  opacity: 0.3;
  transition: opacity 1.0s ease-in;
}

.card:hover {
  opacity: 1.0;
  transition: opacity 1.0s ease-in;
}
