input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.submit {
  background-color: red !important;
}

header {
  font-family: 'Bangers', cursive;
  font-size: 4rem;
  text-align: center;
  font-size: 100px;
  color: red;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.collapsible-header {
  text-align: center;
  background: none !important;
  border: none !important;
  box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important;
}

h1 {
  font-size: 8rem !important;
}

nav ul li {
  list-style: none;
  font-size: 25px;
}

body {
  background-image: url(images/john-legrand-175771.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

footer {
  color: white;
  text-align: right;
  font-weight: 200;
  margin-top: 25px;
  }

#navigation {
    background-color: rgba(60, 179, 113, 0);
    border: none;
    box-shadow: none !important;
  }

#contact, #email {
  margin-left: 2rem;
  font-size: 25px !important;
}

.pop-up, .hidden {
  display: none;
}

img {
  max-width: 100%;
}

#js-label, #js-form {
 border: none;
}

.card, .js-input {
  text-align: center;
}

.activator {
  max-width: 100%;
}


.card:not(:hover) {
  opacity: 0.8;
  transition: opacity 0.5s ease-in;
}

.card:hover {
  opacity: 1.0;
  transition: opacity 0.5s ease-in;
}

#js-results {
  padding-bottom: 1rem;
}

#btns {
  display: flex;
  justify-content: space-around;

}

.js-buttons {
  display: none;

}

.hidden {
  display: flex;
  justify-content: center;
}

.card-txt, .card-txt-lines {
  display: flex;
  font-family: 'Sedgwick Ave', cursive;
  align-items: left;
}

.card-title {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

#contact, #about-btn, .collapsible-body {
  box-shadow: none !important;
  border-bottom: none !important;
  text-shadow: none;
}

#js-textfield {
  color: white;
  font-weight: 900;
  font-size: 1.75rem;
  border-bottom: solid white 1px;
  letter-spacing: 1px;
}

#prev-btn, #next-btn {
  color: black;
  font-size: 3rem;
  border-radius: 15%;
  border: 0 0 0 0 !important;
  border-style: none;
  background-color: red !important;
  width: 4rem;
}


@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}
